@import 'theme';

.container {
  padding-top: $navbar-h;
  min-height: calc(100vh - #{$footer-h + $navbar-h + $border-s});
  display: flex;
  align-items: center;
}

form {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__group {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  @include tablet {
    flex-direction: column;
  }
}

.form__control {
  font-size: 1.1rem;
  margin: 0.5rem;
  display: flex;
  input {
    width: 15rem;
    height: 2rem;
  }

  .form__control--prefix {
    flex: 1;
    min-width: 2rem;
    background-color: $c-secondary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btn--primary {
  min-height: 3rem;
  min-width: 12rem;
  font-size: 1.1rem;
  color: white;
  background-color: $c-secondary;
  cursor: button;
}
