<app-navbar></app-navbar>
<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="calculateExchangeRate($event)">
    <div class="form__group">
      <div class="form__control">
        <div class="form__control--prefix">$</div>
        <input #inputAmount type="text" appFilterAmount maxLength="7" formControlName="amountToChange" autocomplete="false">
      </div>
      <div class="form__control">
        <div class="form__control--prefix">€</div>
        <input type="text" appFilterAmount formControlName="amountChanged" autocomplete="false">
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn--primary">CALCULATE</button>
  </form>
</section>
<app-footer></app-footer>
