<section class="footer__block">
  <header class="footer__header">Lorem ipsum dolor sit amet consectetur adipisicing elit.</header>
  <article class="footer__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos blanditiis 
    similique repellat minus reprehenderit sed ipsum.</article>
</section>
<section class="footer__block">
  <header class="footer__header">Lorem ipsum dolor sit amet consectetur adipisicing.</header>
  <article class="footer__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos blanditiis 
      similique repellat minus reprehenderit sed ipsum.</article>
</section>
<section class="footer__block">
  <header class="footer__header">Lorem ipsum dolor sit amet consectetur.</header>
  <article class="footer__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos blanditiis 
      similique repellat minus reprehenderit sed ipsum.</article>
</section>
<section class="footer__block">
  <header class="footer__header">Lorem ipsum dolor sit amet.</header>
  <article class="footer__content">
    <div class="footer__element"></div>
    <div class="footer__element"></div>
    <div class="footer__element"></div>
  </article>
</section>