@import 'theme';

:host {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: $footer-h;
  background-color: $c-primary;
  flex-wrap: wrap;
  border-top: $border-s solid $c-secondary;
}

.footer__block {
  width: 16rem;
  height: 7.5rem;
  margin: 0.5rem;
  font-size: 0.8rem;
  overflow: hidden;
  
  .footer__header {
    margin-bottom: 0.8rem;
  }

  .footer__content {
    &:last-child {
      display: flex;
      div {
        width: 4rem;
        height: 4rem;
        margin-right: 0.5rem;
        background-color: $c-secondary;
      }
    }
  }
}