@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

$f-primary: 'Raleway', sans-serif;

@mixin f-primary-regular {
  font-family: $f-primary;
  font-weight: 400;
  font-style: normal;
}

@mixin f-primary-light {
  font-family: $f-primary;
  font-weight: 300;
  font-style: normal;
}

@mixin f-primary-bold {
  font-family: $f-primary;
  font-weight: 700;
  font-style: normal;
}
