@import 'theme';

:host {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  height: $navbar-h;
  position: fixed;
  z-index: 1500;
  background-color: white
}

figure {
  border-radius: 50%;
  background-color: $c-primary;
  width: 5rem;
  height: 5rem;
}

.navbar__menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  .navbar__item {
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    background-color: $c-primary;
  }
}
